USE [master]
GO
/****** Object:  Database [PosFastFoods]    Script Date: 01/11/2025 2:25:05 SA ******/
CREATE DATABASE [PosFastFoods]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PosFastFoods', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PosFastFoods.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PosFastFoods_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PosFastFoods_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PosFastFoods].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PosFastFoods]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 01/11/2025 2:25:05 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[IdEmployee] [int] IDENTITY(1,1) NOT NULL,
	[NameEmployee] [nvarchar](250) NULL,
	[BirthDay] [datetime2](7) NULL,
	[Gender] [bit] NULL,
	[Address] [nvarchar](250) NULL,
	[Email] [nvarchar](200) NULL,
	[Password] [varchar](100) NULL,
	[IdRole] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmployee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 01/11/2025 2:25:05 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[IdProduct] [int] NOT NULL,
	[IdOrder] [int] NOT NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProduct] ASC,
	[IdOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 01/11/2025 2:25:05 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[IdOrder] [int] IDENTITY(1,1) NOT NULL,
	[Total] [money] NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdEmployee] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 01/11/2025 2:25:05 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[IdProduct] [int] IDENTITY(1,1) NOT NULL,
	[NameProduct] [varchar](100) NULL,
	[PriceProduct] [money] NULL,
	[Descriptions] [varchar](150) NULL,
	[Images] [varbinary](max) NULL,
	[IsActive] [bit] NULL,
	[IdTypeProduct] [int] NOT NULL,
	[IdEmployee] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleEmployee]    Script Date: 01/11/2025 2:25:05 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleEmployee](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[NameRole] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeProduct]    Script Date: 01/11/2025 2:25:05 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeProduct](
	[IdTypeProduct] [int] IDENTITY(1,1) NOT NULL,
	[NameType] [varchar](50) NULL,
	[IdEmployee] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTypeProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([IdEmployee], [NameEmployee], [BirthDay], [Gender], [Address], [Email], [Password], [IdRole]) VALUES (1, N'wangg', CAST(N'2001-11-20T00:00:00.0000000' AS DateTime2), 1, N'Tăng nhơn phú A, Hồ Chí Minh', N'phuquang@gmail.com', N'$2a$11$EKh9eP7baWUQFVa8LLtgEOUyONZJ6OP22V8L1L73NOexcnosfdlam', 1)
INSERT [dbo].[Employee] ([IdEmployee], [NameEmployee], [BirthDay], [Gender], [Address], [Email], [Password], [IdRole]) VALUES (2, N'Huy', CAST(N'2001-01-13T00:00:00.0000000' AS DateTime2), 1, N'Tăng nhơn phú A, Hồ Chí Minh', N'huy@gmail.com', N'$2a$11$EKh9eP7baWUQFVa8LLtgEOUyONZJ6OP22V8L1L73NOexcnosfdlam', 2)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
INSERT [dbo].[OrderDetail] ([IdProduct], [IdOrder], [quantity]) VALUES (1023, 1, 1)
INSERT [dbo].[OrderDetail] ([IdProduct], [IdOrder], [quantity]) VALUES (1023, 4, 1)
INSERT [dbo].[OrderDetail] ([IdProduct], [IdOrder], [quantity]) VALUES (1023, 5, 1)
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([IdOrder], [Total], [CreateDate], [IdEmployee]) VALUES (1, 129.1500, CAST(N'2025-10-22T10:04:57.7829457' AS DateTime2), 2)
INSERT [dbo].[Orders] ([IdOrder], [Total], [CreateDate], [IdEmployee]) VALUES (2, 12.6000, CAST(N'2025-10-31T13:02:37.4921189' AS DateTime2), 2)
INSERT [dbo].[Orders] ([IdOrder], [Total], [CreateDate], [IdEmployee]) VALUES (3, 50.4000, CAST(N'2025-10-31T13:24:17.3287469' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[RoleEmployee] ON 

INSERT [dbo].[RoleEmployee] ([IdRole], [NameRole]) VALUES (1, N'Admin')
INSERT [dbo].[RoleEmployee] ([IdRole], [NameRole]) VALUES (2, N'Employee')
SET IDENTITY_INSERT [dbo].[RoleEmployee] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeProduct] ON 

INSERT [dbo].[TypeProduct] ([IdTypeProduct], [NameType], [IdEmployee]) VALUES (1, N'Food', 2)
INSERT [dbo].[TypeProduct] ([IdTypeProduct], [NameType], [IdEmployee]) VALUES (2, N'Drink', 2)
INSERT [dbo].[TypeProduct] ([IdTypeProduct], [NameType], [IdEmployee]) VALUES (3, N'Snack', 2)
SET IDENTITY_INSERT [dbo].[TypeProduct] OFF
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([IdRole])
REFERENCES [dbo].[RoleEmployee] ([IdRole])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([IdOrder])
REFERENCES [dbo].[Orders] ([IdOrder])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Product] ([IdProduct])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([IdEmployee])
REFERENCES [dbo].[Employee] ([IdEmployee])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([IdEmployee])
REFERENCES [dbo].[Employee] ([IdEmployee])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([IdTypeProduct])
REFERENCES [dbo].[TypeProduct] ([IdTypeProduct])
GO
ALTER TABLE [dbo].[TypeProduct]  WITH CHECK ADD FOREIGN KEY([IdEmployee])
REFERENCES [dbo].[Employee] ([IdEmployee])
GO
USE [master]
GO
